        </div>
        <div class="container" style="padding:20px 0px">
            <%= config.copyright %><br>
            Powered by <a href="https://github.com/ComputeLinux/sitation">Sitation</a>.
        </div>

    </body>
</html>