<% include ../../../views/partials/header %>
<div class="border border-secondary rounded givemespace">
    <h1><%=page.name%></h1>
    <p><%- page.body %></p>
</div>
<% include ../../../views/partials/footer %>