<% include ../../../../views/partials/header %>
<style>
    p { white-space: pre-line; }
    .givemespace { margin: 15px 0px; padding: 25px 30px 20px}
    h4 { display: inline; margin-right: 5px }
</style>
<div class="border border-secondary rounded givemespace">
    <h1>Navigation Bar Management</h1>
    <a style='display: inline' href='/admin/addTopbar' class='btn btn-primary' role='button'>Add Link</a> <br> <br> <!-- idk why the first br does nothing /shrug -->
    <% for(let i = links.length; i > 0; i--) { %>
        <div style="margin: 1px 0px">
            <%- "<h4><a href='" + links[i - 1].url + "'>" + links[i - 1].name + "</a><h4>"%>
            <%- "<a style='display: inline' href='/processing/deletetopbar/" + links[i - 1]._id + "' class='btn btn-primary' role='button'>Delete</a> "%>
        </div>
        <br>
    <% } %>
</div>
</div>
<% include ../../../../views/partials/footer %>