<html>
<% include ./partials/header %>
<body>

<form action="/processing/addPost" method="POST">
    <input type="text" name="name"></textarea>
    <textarea name="body"></textarea>

    <input type="submit" value="Add Post" />
</form>
</body>
</html>