<% include ./partials/header %>
<style>
    p { white-space: pre-line; }
</style>
<div class="container-fluid">
    <% for(let i = posts.length - 1; i > 0; i--) { %>
        <article>
            <h1><%= posts[i].name %></h1>
            <%= posts[i].author %> - <%= posts[i].date %>
            <p><%- posts[i].body %></p>
        </article>
    <% } %>
</div>
<% include ./partials/footer %>