<html>
<body>

<form action="login" method="POST">
    <input type="text" name="username"></input>
    <input type="password" name="password"></input>
    <input type="submit" value="Add Post" />
</form>
</body>
</html>