<% include ./partials/header %>
<style>
    p { white-space: pre-line; }
    .givemespace { margin: 15px 0px; padding: 25px 30px 20px}
</style>
<div class="border border-secondary rounded givemespace">
    <h1><%=post.name%></h1>
    <%= post.author %> - <%= post.date %>
    <p><%- post.body %></p>
</div>
<% include ./partials/footer %>