<%include setup_header.ejs%>

            <div class="alert alert-danger" role="alert">
                <strong>Hey!</strong> <%- alert %>
            </div>

        </div>
    </div>
</body>
</html>